:root {
  --accent: #8a38f5;

  --header-bg: #262626;
  --cell-bg: #262626;
  --cell-marked-fg: #262626;
  --cell-hover-fg: #ba90f1;

  --body-fg: #ba90f1;
  --body-bg: #2c2c2c;
  --header-fg: #b568fd;
  --header-border: #9645ff;

  --border: #8a38f5;
  --bg-marked: #843de0;
  --border-marked: #8a38f5;

  --bg-hover: #30283b;
  --border-hover: var(--border);

  --bg-marked-hover: #7736ca;
  --border-marked-hover: var(--border-marked);
  --fg-marked-hover: #121212;
}
[data-theme="light"] {
  --accent: #8a38f5;

  --header-bg: #fcf0f8;
  --cell-bg: #fff8fd;
  --cell-marked-fg: #ffffff;
  --cell-hover-fg: #db05ad;

  --body-fg: #db05ad;
  --body-bg: #ffffff;
  --header-fg: #d20ba7;
  --header-border: #d20ba7;

  --border: #ff00c8;
  --bg-marked: #d20ba7;
  --border-marked: #d20ba7;

  --bg-hover: #ffd9f7;
  --border-hover: #ff00c8;

  --bg-marked-hover: #bb0a98;
  --border-marked-hover: #d20ba7;
  --fg-marked-hover: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  background: var(--body-bg);
  color: var(--body-fg);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background: var(--header-bg);
  color: var(--header-fg);
  border-bottom: 1px solid var(--header-border);

  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer {
  background: var(--header-bg);
  color: var(--header-fg);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* mobile friendliness things */
@media (max-width: 480px) {
  header {
    display: block;
    text-align: center;
  }
  #title-section,
  #theme-toggle {
    position: static;
    transform: none;
    margin: 0.5rem 0;
  }
}

#bingo {
  display: grid;
  width: min(90vmin, 650px);
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(var(--n), 1fr);
  grid-template-rows: repeat(var(--n), 1fr);
  gap: 6px;
  overflow: hidden;
}

.cell {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0.3em;
  background: var(--cell-bg);
  border: 1px solid var(--border);
  cursor: pointer;
  font-size: clamp(0.4rem, 2.1vw, 1.2rem);
  border-radius: clamp(4px, 6px, 12px);

  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cell.marked {
  background: var(--bg-marked);
  color: var(--cell-marked-fg);
  border: 1px solid var(--border-marked);
}

body.hasHover .cell:hover {
  background: var(--bg-hover);
  color: var(--cell-hover-fg);
  border: 1px solid var(--border-hover);
}

body.hasHover .cell.marked:hover {
  background: var(--bg-marked-hover);
  color: var(--fg-marked-hover);
  border: 1px solid var(--border-marked-hover);
}

.cell.free {
  mask: url("../images/podx12.png") no-repeat center/75%;
  background: var(--bg-marked);
}

.cell.free.marked {
  mask: url("../images/marked_pod.png") no-repeat center/75%;
  background: var(--bg-marked);
}

body.hasHover .cell.free:hover {
  background: var(--bg-marked-hover);
}

body.hasHover .cell.free.marked:hover {
  background: var(--bg-marked-hover);
}

.btn-1 {
  padding: 0.5em 1em;
  background: var(--header-bg);
  color: var(--header-fg);
  border: 2px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
body.hasHover .btn-1:hover {
  background: var(--header-fg);
  color: var(--header-bg);
  border: 2px solid var(--header-bg);
}

a:link,
a:visited {
  color: var(--header-fg);
  text-decoration: underline;
}
a:hover {
  color: var(--accent);
}
